.tree-cell {
    -fx-cell-size: 35px;
    -fx-padding: 0 8;
    -fx-text-fill: black;
}

.tree-cell:filled:hover {
    -fx-background-color: #DDF2DB;
    -fx-text-fill: black;
}

.tree-cell:selected {
    -fx-background-color: #C9EBC6;
    -fx-text-fill: black;
}

.tree-cell:focused {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.tree-cell:selected:focused {
    -fx-background-color: #C9EBC6;
    -fx-text-fill: black;
}
